<html>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="">Asteroid Today</a>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <label class="btn btn-metric active">
        <input type="radio" name="options" id="metric" autocomplete="off" checked> Metric
      </label>
      <label class="btn btn-metric">
        <input type="radio" name="options" id="standard" autocomplete="off"> Standard
      </label>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <a tabindex="0"
        class="btn btn-lg popups"
        data-toggle="popover"
        data-trigger="focus"
        data-html="true"
        title="Size & Distance Comparison"
        data-placement="bottom"
        data-content="
          <div>
            <b>
              Icons contain important information at a glance. The colors represent distance and the images represent approximate size of Near-Earth Objects
            </b>
            <img src='/assets/asteroid_key/asteroid_key_color.png' />
            <img src='/assets/asteroid_key/asteroid_key_size.png' />
          </div>">Image/Color Key
      </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="collapse" id="collapseExample">
  <div class="well">
    ...
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="btn-group align_row" data-toggle="buttons" name="measurment" id="metrics">
    </div>
    <div class="row">
      <div class="span10">
        <div class="row">
          <% @asteroids.each do |asteroid| %>
            <div class="span6">
              <div class="col-xs-6 col-md-4 hero span7">
                <h2>Asteroid <%= asteroid.name %></h2>
                <h4>Close Approach Date <%= asteroid.close_approach_data.first.close_approach_date %></h4>
                <h5>
                  Relative velocity
                  <span class="unit_metric unit_active">
                    (kph) <%= number_with_delimiter(asteroid.close_approach_data.first.relative_velocity.kilometers_per_hour) %>
                  </span>
                  <span class="unit_imperial">
                    (mph) <%= number_with_delimiter(asteroid.close_approach_data.first.relative_velocity.miles_per_hour) %>
                  </span>
                </h5>
                <h5>
                  Miss Distance
                  <span class="unit_metric unit_active">
                    (kilometers) <%= number_with_delimiter(asteroid.close_approach_data.first.miss_distance.kilometers) %>
                  </span>
                  <span class="unit_imperial">
                    (miles) <%= number_with_delimiter(asteroid.close_approach_data.first.miss_distance.miles) %>
                  </span>
                </h5>
                <h5>Miss Distance AU <%= asteroid.close_approach_data.first.miss_distance.astronomical %></h5>
                <h5>Miss Distance LD <%= asteroid.close_approach_data.first.miss_distance.lunar %></h5>
                <h5>Absolute Magnutude (H) <%= asteroid.absolute_magnitude_h %></h5>
                <h5>
                  Estimated Diameter
                  <span class="unit_metric unit_active">
                    (<%= metric_measurement(asteroid.absolute_magnitude_h) %>) <%= display_diameter(:metric, asteroid.absolute_magnitude_h, asteroid.estimated_diameter, :min) %> -
                  </span>
                  <span class="unit_metric unit_active">
                    <%= display_diameter(:metric, asteroid.absolute_magnitude_h, asteroid.estimated_diameter, :max) %>
                  </span>
                  <span class="unit_imperial">
                    (<%= imperial_measurement(asteroid.absolute_magnitude_h) %>) <%= display_diameter(:imperial, asteroid.absolute_magnitude_h, asteroid.estimated_diameter, :min) %> -
                  </span>
                  <span class="unit_imperial">
                    <%= display_diameter(:imperial, asteroid.absolute_magnitude_h, asteroid.estimated_diameter, :max) %>
                  </span>
                </h5>
                <h5><a href="<%= asteroid.nasa_jpl_url %>" target=blank>NASA site</a></h5>
              </div>
              <div class="col-xs-6 col-md-4 spacer"></div>
            </div>
            <div class="span3">
              <img class="asteroid_image" src="/assets/asteroid_sizes/<%= size_estimate(asteroid.estimated_diameter) %><%= lunar_distance_prefix(asteroid.close_approach_data.first.miss_distance.lunar) %>.png" />
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="span9 footer">
    <p>
      AsteroidToday is powered by <a target="_blank" href="http://www.neowsapp.com/">NeoWs (Near Earth Object Web Service)</a><br>
      <a target="_blank" href="http://apps.getpebble.com/en_US/application/55bc4913d1690c372900000f">Get Asteroid Today on Pebble</a><br>
      <a target="_blank" href="http://n.numerousapp.com/m/289c3ktc8fi0">Follow us on Numerous</a><br>
      <a target="_blank" href="https://twitter.com/AsteroidTracker">Follow us on Twitter</a><br>
      Check out AsteroidTracker on <a target="_blank" href="https://itunes.apple.com/us/app/asteroid-tracker/id689684901?mt=8">iOS</a>
      and <a target="_blank" href="https://play.google.com/store/apps/details?id=com.vitruviussoftware.bunifish.asteroidtracker&feature">Android</a>
    </p>
  </div>
</div>

</html>
